{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="row center paginator">
        <ul class="pagination">
            {% if first is defined and current != first %}
                <li class="waves-effect first">
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                        <i class="mdi mdi-chevron-double-left"></i>
                    </a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li class="previous waves-effect">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <i class="mdi mdi-chevron-left"></i>
                </a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class=" waves-effect page">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active current">{{ page }}</li>
                {% endif %}

            {% endfor %}

            {% if next is defined %}
                <li class="waves-effect next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li class=" waves-effect last">
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                        <i class="mdi mdi-chevron-double-right"></i>
                    </a>
                </li>
            {% endif %}
            {#<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>#}
            {#<li class="active"><a href="#!">1</a></li>#}
            {#<li class="waves-effect"><a href="#!">2</a></li>#}
            {#<li class="waves-effect"><a href="#!">3</a></li>#}
            {#<li class="waves-effect"><a href="#!">4</a></li>#}
            {#<li class="waves-effect"><a href="#!">5</a></li>#}
            {#<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>#}
        </ul>
    </div>

    {#<div class="pagination">#}
        {#{% if first is defined and current != first %}#}
            {#<span class="first">#}
            {#<a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>#}
        {#</span>#}
        {#{% endif %}#}

        {#{% if previous is defined %}#}
            {#<span class="previous">#}
            {#<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>#}
        {#</span>#}
        {#{% endif %}#}

        {#{% for page in pagesInRange %}#}
            {#{% if page != current %}#}
                {#<span class="page">#}
                {#<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>#}
            {#</span>#}
            {#{% else %}#}
                {#<span class="current">{{ page }}</span>#}
            {#{% endif %}#}

        {#{% endfor %}#}

        {#{% if next is defined %}#}
            {#<span class="next">#}
            {#<a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>#}
        {#</span>#}
        {#{% endif %}#}

        {#{% if last is defined and current != last %}#}
            {#<span class="last">#}
            {#<a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>#}
        {#</span>#}
        {#{% endif %}#}
    {#</div>#}
{% endif %}
