
<h3>{{ title|trans }}</h3>

<table class="responsive-table striped ski-table">
    <thead>
    <tr class="table-info">
        <th colspan="2"></th>
        <th colspan="3">{{ 'Вартість, грн' }}</th>
        <th>{{ '-7-10%' }}</th>
    </tr>
    <tr class="table-header">
        <th>{{ 'Категорія'|trans }}</th>
        <th>{{ 'Інвентар'|trans }}</th>
        <th>{{ '1-3 дні' }}</th>
        <th>{{ '4-6 днів' }}</th>
        <th>{{ 'Застава' }}</th>
        <th>{{ 'Дії'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.category }}</td>
            <td>{{ entity.inventory }}</td>
            <td>{{ entity.priceOne }}</td>
            <td>{{ entity.priceTwo }}</td>
            <td>{{ entity.guarantee }}</td>
            <td>
                <a class="btn-floating btn-small waves-effect waves-light red"  href="{{ path('ski_rent_admin_edit', { 'id': entity.id }) }}">
                    <i class="material-icons">edit</i>
                    {{ 'Редагувати' }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>