<div class="about-us">
    <div class="intro center">
        <h4>{{ 'Ми пропонуємо'|trans }}</h4>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="header-image center">
                <img alt="" src="{{ asset('bundles/skismile/images/rent.svg') }}">
            </div>
            <h5 class="center">{{ 'Прокат спорядження'|trans }}</h5>
            <p class="center">
                {{ 'Широкий вибір спорядження,' }}</br>
                {{ 'яке ви можете взяти на прокат' }}</br>
                {{ 'за вигідною ціною.' }}
            </p>
        </div>
        <div class="col s12 m4">
            <div class="header-image center">
                <img alt="" src="{{ asset('bundles/skismile/images/service.png') }}">
            </div>
            <h5 class="center">{{ 'Сервіс спорядження'|trans }}</h5>
            <p class="center">
                {{ 'У нас ви можете отримати професійне' }}</br>
                {{ 'сервісне обслуговування спорядження.' }}

            </p>
        </div>
        <div class="col s12 m4">
            <div class="header-image center">
                <img alt="" src="{{ asset('bundles/skismile/images/selling.png') }}">
            </div>
            <h5 class="center">{{ 'Продаж спорядження'|trans }}</h5>
            <p class="center">
                {{ 'Ви можете придбати спорядження' }}</br>
                {{ 'беспосередньо на пуктах прокату.' }}
            </p>
        </div>
    </div>
</div>