{% extends '::base.html.twig' %}
{% block body %}
    {% if error is defined and error %}
            {% include 'SkiSmileBundle:Default:contactWithError.html.twig' with {'form':form} %}
    {% else %}
        <div class="contact-form-wrapper container">
            <h4 class="center">{{ "Виникли запитання? Зв'яжіться з нами!"|trans }}</h4>
            <h5 class="center">{{ 'Заповніть форму нижче, щоб надіслати e-mail'|trans }}</h5>
            {{ form_start(form, { 'action': path('contact_home'), 'method': 'POST', 'attr': {'class': 'card-panel'}}) }}
            <div class="row">
                <div class="input-field col s12 m6">
                    {{ form_widget(form.name, {'attr':{'class':'validate'}}) }}
                    {{ form_label(form.name) }}
                    <p>{{ form_errors(form.name, {'attr':{'class':'error'}}) }}
                </div>
                <div class="input-field col s12 m6">
                    {{ form_widget(form.email, {'attr':{'class':'validate'}}) }}
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email, {'attr':{'class':'error'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.subject, {'attr':{'class':'validate'}}) }}
                    {{ form_label(form.subject) }}
                    {{ form_errors(form.subject, {'attr':{'class':'error'}}) }}
                </div>
                <div class="input-field col s12">
                    {{ form_widget(form.message, {'attr':{'class':'materialize-textarea'}}) }}
                    {{ form_label(form.message) }}
                    {{ form_errors(form.message, {'attr':{'class':'error'}}) }}
                </div>
            </div>
            <div class="center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    {{ 'Відправити'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}