{% extends '::base.html.twig' %}
{% block body %}
    <div class="review-page">
        <div class="parallax-container">
            <div class="parallax"><img alt="" src="{{ asset('bundles/skismile/images/paralax-1.jpg') }}"></div>
        </div>
        <h4 class="center page-header"><span>{{ 'Відгуки про Ski Smile'|trans }}</span></h4>
        <div class="row container review-block">
            {% if pagination|length == 0 %}
                <div class="empty-review-text">
                    <h4 class="center">
                        {{ 'Відгуків ще немає' }}
                    </h4>
                    <h5 class="center">
                        {{ 'Будьте першими і залиште свій відгук!' }}
                    </h5>
                </div>
            {% else %}
                <div class="col s12">
                    {% for review in pagination %}
                        <div class="card horizontal review">
                            <div class="review-image col s12 m1">
                                <i class="mdi mdi-account-circle" style="font-size: 74px"></i>
                            </div>
                            <div class="review-info col s12 m11">
                                <div class="review-header col s12">
                                    <div class="col s12 m8 name">
                                        {{ review.name|capitalize }}
                                    </div>
                                    <div class="col s12 m4 date">
                                        {{ 'Додано: '|trans ~ review.createdAt|date("d.m.Y \\о\\ H:i", "Europe/Kiev") }}
                                    </div>
                                </div>
                                <div class="review-message col s12">
                                    <p>
                                        {{ review.message|nl2br }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
            <div class="col s12">
                {{ render(controller('SkiSmileBundle:Default:reviewNew')) }}
            </div>
        </div>
    </div>
{% endblock %}