<div class="ski-service">
    <h5 class="block-header">{{ 'Сервісне обслуговування'|trans }}</h5>
    <p class="center">
        {{
        'Професійне сервісне обслуговування проводиться
                        на станках швейцарської фірми MONTANA та німецької REICHMANN.'|trans
        }}
    </p>
    <div class="col s12 m6">
        {% include 'SkiSmileBundle:Tables:ski_service.html.twig' with {entities : ski_service_part } %}
    </div>
    <div class="col s12 m6">
        <table class="ski-table ski-service-table margin-table">
            <tbody>
            <tr>
                <td>
                    {{ 'ПОВНИЙ СЕРВІС (а + б + в + г + д + е)' }}
                </td>
                <td>
                    {{ '210 грн' }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'ПОВНИЙ СЕРВІС + СТРУКТУРА (а + б + в + г + д + е + є)' }}
                </td>
                <td>
                    {{ '370 грн' }}
                </td>
            </tr>
            </tbody>
        </table>
        {% include 'SkiSmileBundle:Tables:ski_service.html.twig' with {entities : ski_service , full : true } %}
    </div>
    <div class="col s12 center">
        <p>{{ 'При замовленні сервісного обслуговування від 10 комплектів діє знижка 20% , від 50 - 30%.' }}</p>
    </div>
</div>