<div class="ski-service">
    <h5 class="block-header">{{ 'Сервісне обслуговування'|trans }}</h5>
    <p class="center">
        {{
            'Професійне сервісне обслуговування проводиться
            на станках швейцарської фірми MONTANA та німецької REICHMANN.'|trans
        }}
    </p>
    <table class="ski-table ski-service-table">
        <thead>
        <tr>
            <th>{{ 'Послуга'|trans }}</th>
            <th>{{ 'Ціна'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.service }}
                </td>
                <td>
                    {{ entity.price }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>