{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
    <div class="card-panel">
        <div class="row">
            <div class="col s12 m4">
                {{ about.rent }}
            </div>
            <div class="col s12 m4">
                {{ about.service }}
            </div>
            <div class="col s12 m4">
                {{ about.selling }}
            </div>
        </div>
    </div>

                    <ul>
                        <li>
                            <a href="{{ path('about_admin_show', { 'id': about.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('about_admin_edit', { 'id': about.id }) }}">edit</a>
                        </li>
                    </ul>

    <ul>
        <li>
            <a href="{{ path('about_admin_new') }}">Create a new about</a>
        </li>
    </ul>
{% endblock %}
