{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
<div class="card-panel product-category">
    <div class="row">
        <div class="col s12 m4">
            <h4 class="center">{{ 'Список категорій'|trans }}</h4>
            <table class="ski-table">
                <thead>
                <tr>
                    <th>{{ 'Назва'|trans }}</th>
                    <th>{{ 'Дії'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for productCategory in productCategories %}
                    <tr>
                        <td>{{ productCategory.name }}</td>
                        <td>
                            <a class="btn-floating btn-small waves-effect waves-light red"  href="{{ path('product_category_admin_edit', { 'id': productCategory.id }) }}">
                                <i class="material-icons">edit</i>
                                {{ 'Редагувати' }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s12 m6 offset-m2">
            {{ render(controller('SkiSmileAdminBundle:ProductCategoryAdmin:new')) }}
        </div>
    </div>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('product_category_admin_new') }}">Create a new productCategory</a>#}
        {#</li>#}
    {#</ul>#}
</div>
{% endblock %}
