{#{% extends '@SkiSmileAdmin/Default/base.html.twig' %}#}

{% block body %}
    <div class="row product-category">
        <h4 class="center">{{ 'Додавання категорії'|trans }}</h4>
    </div>
    <div class="card-panel">
        {{ form_start(form, { 'action': path('product_category_admin_new'), 'method': 'POST'}) }}
        <div class="row">
            <div class="input-field col s12 m6">
                {{ form_widget(form.name,{'attr':{'class':'validate'}}) }}
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
            </div>

        </div>
        <div class="row">
            <div class="col s12 m3 submit-button">
                <input class="btn btn-action col s12" type="submit" value="{{ 'Додати'|trans }}" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
