{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
<div class="card-panel">
    <h3>{{ 'SKI сервіс'|trans }}</h3>
    <table class="stripped ski-table">
        <thead>
            <tr>
                <th>{{ 'Послуга'|trans }}</th>
                <th>{{ 'Ціна, грн'|trans }}</th>
                <th>{{ 'Дії'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for skiService in skiServices %}
            <tr>
                <td>
                    {{ skiService.service }}
                </td>
                <td>
                    {{ skiService.price }}
                </td>
                <td>
                    <a class="btn-floating btn-small waves-effect waves-light red"  href="{{ path('ski_service_admin_edit', { 'id': skiService.id }) }}">
                        <i class="material-icons">edit</i>
                        {{ 'Редагувати' }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row admin-actions">
        <a class="btn-floating waves-effect waves-circle waves-light teal" href="{{ path('ski_service_admin_new') }}">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
{% endblock %}
