{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
    <div class="ski-service-wrapper">
        <div class="card-panel col s12">
            {% block ski_form_title %}
                <h4 class="center">{{ 'Додавання запису'|trans }}</h4>
            {% endblock %}
            <div class="row">
                <div class="col s12 ski-form">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="input-field col s8 m10">
                            {{ form_widget(form.service,{'attr':{'class':'validate'}}) }}
                            {{ form_label(form.service) }}
                            {{ form_errors(form.service) }}
                        </div>
                        <div class="input-field col s4 m2">
                            {{ form_widget(form.price,{'attr':{'class':'validate'}}) }}
                            {{ form_label(form.price) }}
                            {{ form_errors(form.price) }}
                        </div>
                        <div class="input-field col s12">
                            {{ form_widget(form.retail,{'attr':{'class':'validate'}}) }}
                            {{ form_label(form.retail) }}
                            {{ form_errors(form.retail) }}
                        </div>
                    </div>
                    {% block ski_form_actions %}
                        <div class="row">
                            <div class="col s12 m3 submit-button">
                                <input class="btn btn-action" type="submit" value="{{ 'Додати'|trans }}" />
                            </div>
                            <div class="col s12 m3">
                                <a class="btn" href="{{ path('ski_service_admin_index') }}">{{ 'Повернутись'|trans }}</a>
                            </div>
                        </div>
                    {% endblock %}
                    {{ form_end(form) }}
                    {% block delete_form %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
