<div class="admin-navigation">
    <nav class="top-nav blue-grey darken-3">
        <div class="container center">
            <div class="site-logo">
                <a href="#navbar" class="brand-logo blue-grey-text">
                    <img src="{{ asset('bundles/skismile/images/ski-smile-logo.png')}}">
                </a>
            </div>
        </div>
    </nav>
    <div class="menu-button">
        <a href="#" data-activates="admin-nav" class="button-collapse">
            <i class="mdi mdi-menu mdi-48px"></i>
        </a>
    </div>
    <ul id="admin-nav" class="side-nav fixed blue-grey darken-3">
        <li>
            <div class="userView">
                {#<div class="background">#}
                    {#<img src="{{ asset('bundles/skismileadmin/images/menu-image.jpg')}}">#}
                {#</div>#}
                <div class="user-info white-text">
                    <img src="{{ asset('bundles/skismileadmin/images/admin.png') }}" class="circle">
                    <span class="name">{{ app.user.username }}</span>
                    <span>{{ app.user.email }}</span>
                </div>
            </div>
        </li>
        <li><a class="waves-effect waves-light" href="{{ path("ski_rent_admin_index") }}"><i class="mdi mdi-view-headline"></i>{{ 'Прокат'|trans }}</a></li>
        <li><a class="waves-effect waves-light" href="{{ path("ski_service_admin_index") }}"><i class="mdi mdi-webhook"></i>{{ 'Сервіс'|trans }}</a></li>
        <li class="products-item">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-light"><i class="mdi mdi-buffer"></i>{{ 'Товари'|trans }}</a>
                    <div class="collapsible-body">
                        <ul class="sub-items blue-grey darken-3">
                            <li><a class="waves-effect waves-light" href="{{ path("product_admin_index") }}"><i class="mdi mdi-view-list"></i>{{ 'Список'|trans }}</a></li>
                            <li><a class="waves-effect waves-light" href="{{ path("product_admin_new") }}"><i class="mdi mdi-plus-circle"></i>{{ 'Додати новий'|trans }}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="products-category-item">
            <a class="waves-effect waves-light" href="{{ path("product_category_admin_index") }}">
                <i class="mdi mdi-layers"></i>
                {{ 'Категорії'|trans }}
            </a>
        </li>
        <li><a class="waves-effect waves-light" href="#!"><i class="mdi mdi-map-marker-radius"></i>{{ 'Контактна інформація'|trans }}</a></li>
        <li><a class="waves-effect waves-light" href="#!"><i class="mdi mdi-information"></i>{{ 'Про нас'|trans }}</a></li>
        <li><a class="waves-effect waves-light" href="{{ path('fos_user_security_logout') }}"><i class="mdi mdi-logout"></i>{{ 'Вихід'|trans }}</a></li>
    </ul>
</div>