{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
    <div class="ski-rent-wrapper">
        <div class="card-panel col s12">
            {% block ski_form_title %}
                <h3>{{ 'Додавання товару'|trans }}</h3>
            {% endblock %}
            <div class="row">
                <div class="col s12 ski-form">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="file-field input-field col s12 m6">
                            <div class="btn col s6 m3">
                                <span>{{ 'Зображення'|trans }}</span>
                                {{ form_widget(form.imageFile,{'attr':{'class':'validate'}}) }}
                            </div>
                            {{ form_errors(form.imageFile) }}
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="input-field col s12 m6">
                            {{ form_widget(form.name,{'attr':{'class':'validate'}}) }}
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="input-field col s12 m3">
                            {{ form_widget(form.price,{'attr':{'class':'validate'}}) }}
                            {{ form_label(form.price) }}
                            {{ form_errors(form.price) }}
                        </div>
                        <div class="input-field col s12 m9">
                            {{ form_widget(form.category,{'attr':{'class':'validate'}}) }}
                            {{ form_label(form.category) }}
                            {{ form_errors(form.category) }}
                        </div>
                        <div class="input-field col s12">
                            {{ form_widget(form.description,{'attr':{'class':'materialize-textarea'}}) }}
                            {{ form_label(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    {% block ski_form_actions %}
                        <div class="row ski-form-actions">
                            <div class="col s12 m3 submit-button">
                                <input class="btn btn-action col s12" type="submit" value="{{ 'Додати'|trans }}" />
                            </div>
                            <div class="col s12 m3">
                                <a class="btn col s12" href="{{ path('product_admin_index') }}">{{ 'Повернутись'|trans }}</a>
                            </div>
                        </div>
                    {% endblock %}
                    {{ form_end(form) }}
                    {% block delete_form %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
