{% extends '@SkiSmileAdmin/SkiRent/new.html.twig' %}
{% block ski_form_title %}
    <h4 class="center">{{ 'Редагування запису'|trans }}</h4>
{% endblock %}
{% block ski_form_actions %}
    <div class="row ski-form-actions">
        <div class="col s12 m3">
            <input class="btn col s12 m6" type="submit" value="{{ 'Редагувати'|trans }}" />
        </div>
        <div class="col s12 m3">
            <a class="btn col s12 m6" href="{{ path('ski_rent_admin_index') }}">{{ 'Повернутись'|trans }}</a>
        </div>

{% endblock %}
{% block delete_form %}
        <div class="col s12 m3 submit-button">
            {{ form_start(delete_form) }}
            <input class="btn red col s12 m6" type="submit" value="{{ 'Видалити'|trans }}">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}