{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
    <div class="card-panel">
    <h3>{{ 'Ціни на прокат інветаря 2016-2017' }}</h3>

    <table class="responsive-table striped ski-table">
        <thead>
            <tr>
                <th>{{ 'Категорія'|trans }}</th>
                <th>{{ 'Інвентар'|trans }}</th>
                {#<th>{{ '1/2*' }}</th>#}
                <th>{{ '1' }}</th>
                <th>{{ '2' }}</th>
                <th>{{ '3' }}</th>
                <th>{{ '4' }}</th>
                <th>{{ '5' }}</th>
                <th>{{ '6' }}</th>
                <th>{{ 'Застава' }}</th>
                <th>{{ 'Дії'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td>#}
                    {#<a href="{{ path('ski_rent_admin_show', { 'id': entity.id }) }}">#}
                        {#{{ entity.id }}#}
                    {#</a>#}
                {#</td>#}
                <td>{{ entity.category }}</td>
                <td>{{ entity.inventory }}</td>
                <td>{{ entity.priceOne }}</td>
                <td>{{ entity.priceTwo }}</td>
                <td>{{ entity.priceThree }}</td>
                <td>{{ entity.priceFour }}</td>
                <td>{{ entity.priceFive }}</td>
                <td>{{ entity.priceSix }}</td>
                <td>{{ entity.guarantee }}</td>
                <td>
                    <ul class="table-actions">
                        <li>
                            <a class="btn-floating btn-small waves-effect waves-light teal" href="{{ path('ski_rent_admin_show', { 'id': entity.id }) }}">
                                <i class="material-icons">visibility</i>
                                {{ 'Переглянути' }}
                            </a>
                        </li>
                        <li>
                            <a class="btn-floating btn-small waves-effect waves-light red"  href="{{ path('ski_rent_admin_edit', { 'id': entity.id }) }}">
                                <i class="material-icons">edit</i>
                                {{ 'Редагувати' }}
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            {#<a href="{{ path('ski_rent_admin_new') }}">{{ 'Додати запис'|trans }}</a>#}
            <a class="btn-floating waves-effect waves-light teal" href="{{ path('ski_rent_admin_new') }}">
                <i class="material-icons">add</i>
                {{ 'Додати запис'|trans }}
            </a>
        </li>
    </ul>
    </div>
{% endblock %}
