{% extends '@SkiSmileAdmin/Default/base.html.twig' %}
{% block body %}
    <div class="gallery-wrapper">
        <h4 class="center"><span>{{ 'Фотогалерея '|trans ~ place|capitalize }}</span></h4>
        <div class="row">
            <div class="row card-panel">
                {% for fotoGallery in pagination %}
                    <div class="col s12 m2">
                        <div class="image-block">
                            {% set image = vich_uploader_asset(fotoGallery, 'imageFile') %}
                            <img class="responsive-img product-image" src="{{ asset(['bundles/skismileadmin/', image]|join) }}"  />
                        </div>
                        <div class="gallery-actions center">
                            <a class="btn" href="{{ path('fotogallery_admin_edit', { 'id': fotoGallery.id, 'place': target }) }}">{{ 'Редагувати'|trans }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col s12">
            {{ render(controller('SkiSmileAdminBundle:FotoGallery:new',{'place': target})) }}
        </div>
    </div>
{% endblock %}
