{#{% extends '@SkiSmileAdmin/Default/base.html.twig' %}#}

{% block body %}
    <div class="row card-panel">
        <h4 class="center">{{ 'Додати фото'|trans }}</h4>
        <div class="col s12">
            {{ form_start(form, { 'action': path('fotogallery_admin_new',{'place': place}), 'method': 'POST'}) }}
            {#{{ form_widget(form) }}#}
            <div class="input-field col s12 m6">
                {{ form_widget(form.place,{'attr':{'class':'validate'}}) }}
                {{ form_label(form.place) }}
                {{ form_errors(form.place) }}
            </div>
            <div class="file-field input-field col s12 m6">
                <div class="btn col s6 m3">
                    <span>{{ 'Зображення'|trans }}</span>
                    {{ form_widget(form.imageFile,{'attr':{'class':'validate'}}) }}
                </div>
                {{ form_errors(form.imageFile) }}
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="input-field col s12">
                {{ form_widget(form.description,{'attr':{'class':'materialize-textarea'}}) }}
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
            </div>
            <input class="btn" type="submit" value="{{ 'Додати'|trans }}" />
            {{ form_end(form) }}
        </div>
    </div>
    {#<h1>Fotogallery creation</h1>#}

    {#{{ form_start(form, { 'action': path('product_category_admin_new'), 'method': 'POST'}) }}#}
        {#{{ form_widget(form) }}#}
        {#<input type="submit" value="Create" />#}
    {#{{ form_end(form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('fotogallery_admin_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
