{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="row">
        <div class="input-field col s12">
            <i class="mdi mdi-account-circle mdi-24px prefix"></i>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            <label for="username">{{ "Ім'я користувача"|trans }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 ">
            <i class="mdi mdi-lock mdi-24px prefix"></i>
            <input type="password" id="password" name="_password" required="required" />
            <label for="password">{{ 'Пароль'|trans }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 center">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ "Запам'ятати мене"|trans }}</label>
        </div>
    </div>
    <div class="col s12 center">
        <input class="btn waves-effect waves-light blue-grey" type="submit" id="_submit" name="_submit" value="{{ 'Увійти'|trans }}" />
    </div>
</form>
