{% extends '::base.html.twig' %}
{% block body %}
    <div class="product-oveview-wrapper">
        <div class="parallax-container">
            <div class="parallax"><img alt="" src="{{ asset('bundles/skismile/images/paralax-1.jpg') }}"></div>
        </div>
        <div class="container">
            <div class=" product-item">
                <div class="row">
                    <div class="col s12 product-top">
                        <div class="col s12 m6 product-image-wrapper">
                            {% set productImage = vich_uploader_asset(product, 'imageFile') %}
                            <img class="responsive-img product-image materialboxed" src="{{ asset(['bundles/skismileadmin/', productImage]|join) }}"  />
                        </div>
                        <div class="col s12 m6 product-header">
                            <div class="product-name">
                                <h4 class="">{{ product.name }}</h4>
                            </div>
                            <div class="product-price">
                                {{ 'Ціна: ' ~ product.price ~ ' грн.' }}
                            </div>
                        </div>
                    </div>
                    <div class="col s12 product-description bottom-padding">
                        <div class="col s12">
                            <span class="desc">{{ 'Характеристики'|trans }}</span>
                            <div class="col s12 underline"></div>
                            {{ product.description|raw }}
                        </div>
                    </div>
                    <div class="col s12 product-contacts bottom-padding">
                        <div class="col s12">
                            <span class="desc">{{ 'Наші контакти'|trans }}</span>
                            <div class="col s12 underline"></div>
                            <span class="info">{{ '(067) 834-15-88' }}</span>
                            <span class="info">{{ '(067) 173-16-30' }}</span>
                            <span class="info">{{ 'info@ski-smile.com.ua' }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 pull-right">
                        <a class="btn pull-right" href="{{ path('product_index') }}">{{ 'Повернутись'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}