<div id="navbar" class="navbar-fixed scrollspy main-menu">
    <nav class="white">
        <div class="nav-wrapper container">
            <div class="site-logo">
                <a href="{{ path('home') }}" class="brand-logo blue-grey-text">
                    <img alt="" src="{{ asset('bundles/skismile/images/ski-smile-logo.png')}}">
                </a>
            </div>
            {#<ul class="language-switcher">#}
                {#{% set route_args = app.request.attributes.get('_route_params')%}#}

                {#{% if app.request.attributes.get('_route') == 'main' %}#}
                    {#{% set route = 'main' %}#}
                {#{% else %}#}
                    {#{% set route = app.request.attributes.get('_route') %}#}
                {#{% endif %}#}
                {#<li>#}
                    {#<a href='{{ path(route, route_args|merge({'_locale': 'uk'})) }}' class="blue-grey-text">#}
                        {#<span class="icon flag flag-ua"></span>#}
                        {#<span class="language-name">{{ 'UA' | trans }}</span>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href='{{ path(route, route_args|merge({'_locale': 'ru'})) }}' class="blue-grey-text">#}
                        {#<span class="icon flag flag-ru"></span>#}
                        {#<span class="language-name">{{ 'RU' | trans }}</span>#}
                    {#</a>#}
                {#</li>#}
            {#</ul>#}
            {% set aboutus_link = '#aboutus' %}
            {% set rent_link = '#rent-price' %}
            {% set service_link = '#service-price' %}
            {% set place_link = '#place' %}
            {% set contacts_link = '#contacts' %}
            {% if app.request.attributes.get('_route') != 'home' %}
                {% set aboutus_link = path('home') ~ '#aboutus' %}
                {% set rent_link = path('home') ~ '#rent-price' %}
                {% set service_link = path('home') ~ '#service-price' %}
                {% set place_link = path('home') ~ '#place' %}
                {% set contacts_link = path('home') ~ '#contacts' %}
            {% endif %}
            <ul class="right hide-on-med-and-down">
                <li><a class="head-link blue-grey-text" href="{{ aboutus_link }}">{{ 'Про нас'|trans }}</a></li>
                <li>
                    <a class="dropdown-button blue-grey-text" data-activates='dropdown-menu' href="#">
                        {{ 'Ціни'|trans }}
                    </a>
                    <ul id='dropdown-menu' class='dropdown-content'>
                        <li><a class="head-link" href="{{ rent_link }}">{{ 'Прокат'|trans }}</a></li>
                        <li class="divider"></li>
                        <li><a class="head-link" href="{{ service_link }}">{{ 'Сервіс'|trans }}</a></li>
                    </ul>
                </li>
                <li><a class="head-link blue-grey-text" href="{{ place_link }}">{{ 'Розташування'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="{{ contacts_link }}">{{ "Написати листа"|trans }}</a></li>
                <li><a class="blue-grey-text" href="{{ path('review') }}">{{ "Відгуки"|trans }}</a></li>

            </ul>
            <ul class="right side-nav" id="mobile">
                <li><a class="head-link blue-grey-text" href="{{ aboutus_link }}">{{ 'Про нас'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="{{ rent_link }}">{{ 'Ціни на прокат'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="{{ service_link }}">{{ 'Ціни на сервіс'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="{{ place_link }}">{{ 'Розташування'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="{{ contacts_link }}">{{ "Написати листа" |trans }}</a></li>
                <li><a class="blue-grey-text" href="{{ path('review') }}">{{ "Відгуки"|trans }}</a></li>
            </ul>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi mdi-menu mdi-48px"></i></a>
        </div>
    </nav>
</div>