<div id="navbar" class="navbar-fixed scrollspy main-menu">
    <nav class="white">
        <div class="nav-wrapper container">
            <div class="site-logo">
                <a href="#navbar" class="brand-logo blue-grey-text">
                    <img src="{{ asset('bundles/skismile/images/ski-smile-logo.png')}}">
                </a>
            </div>
            <ul class="language-switcher">
                {% set route_args = app.request.attributes.get('_route_params')%}

                {% if app.request.attributes.get('_route') == 'main' %}
                    {% set route = 'main' %}
                {% else %}
                    {% set route = app.request.attributes.get('_route') %}
                {% endif %}
                <li>
                    <a href='{{ path(route, route_args|merge({'_locale': 'uk'})) }}' class="blue-grey-text">
                        <span class="icon flag flag-ua"></span>
                        <span class="language-name">{{ 'UA' | trans }}</span>
                    </a>
                </li>
                <li>
                    <a href='{{ path(route, route_args|merge({'_locale': 'ru'})) }}' class="blue-grey-text">
                        <span class="icon flag flag-ru"></span>
                        <span class="language-name">{{ 'RU' | trans }}</span>
                    </a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="head-link blue-grey-text" href="#aboutus">{{ 'Про нас'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="#price">{{ 'Ціни'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="#place">{{ 'Розташування'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="#contacts">{{ 'Контакти'|trans }}</a></li>
            </ul>
            <ul class="right side-nav" id="mobile">
                <li><a class="head-link blue-grey-text" href="#aboutus">{{ 'Про нас'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="#price">{{ 'Ціни'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="#place">{{ 'Розташування'|trans }}</a></li>
                <li><a class="head-link blue-grey-text" href="#contactus">{{ 'Контакти'|trans }}</a></li>
            </ul>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi mdi-menu mdi-48px"></i></a>
        </div>
    </nav>
</div>